.link {
  display: block;
  height: 36px;
  width: 84px;
  margin: 4px;
  padding-top: 9px;
  background-color: var(--main-field);
  border: 1px solid var(--button-border);
  text-align: center;
  text-decoration: none;
  color: var(--main-font);
  font-size: 15px;
}
