.point {
  height: 20px;
  width: 120px;
  background: chocolate;
  box-sizing: border-box;
}
.high {height: 40px;}
.low {height: 16px}
#point-1 {background: red}
#point-2 {background: orange}
#point-3 {background: yellow}
#point-4 {background: limegreen}
#point-5 {background: aqua}
#point-6 {background: blue}

.scroll {
  position: absolute;
  height: 16px;
  width: 120px;
  background: transparent;
  border: 2px solid black;
  box-sizing: border-box;
}
.scroll-up {top: 0}
.scroll-down {bottom: 0}