.wrapper {
  position: relative;
  height: 720px;
  width: 300px;
  margin: 0 auto;
  background: silver;
}
.window{
  position: relative;
  width: 120px;
  margin: 0 auto;
  background: white;
  overflow: hidden;
  z-index: 1;
}
.container {
  position: relative;
  height: 140px;
  width: 120px;
  margin: 0 auto;
  background: silver;
}
