.wrapper {
  height: 380px;
  width: 300px;
  margin: 0 auto;
  background: silver;
}
.window{
  position: relative;
  width: 120px;
  margin: 0 auto;
  background: violet;
  overflow: hidden;
  z-index: 1;
}
.container {
  position: relative;
  top: 0;
  height: 140px;
  width: 120px;
  margin: 0 auto;
  background: silver;
}
